# Datasets
*.txt
*.hdf5
*.tfrecord
*.zip
*.bak

# Python
*.pyc

# AL
*.translate
preprocessing/translated/model/

# TensorFlow
*.tfevents*
*.ckpt*
checkpoint*
graph.pbtxt

# Processing results
*.csv

# Compiled
convert
