# Datasets
*.txt
*.hdf5
*.tfrecord
*.zip
*.bak

# Python
*.pyc
*.pickle

# AL
*.translate
preprocessing/translated/model/

# TensorFlow
*.tfevents*
*.ckpt*
checkpoint*
graph.pbtxt

# Processing results
*.csv
*.ods
*.profile

# Compiled
convert
