sensors Bathroom Bedroom DiningRoom Hall Kitchen LivingRoom LoungeChair Office OutsideDoor WorkArea 
activities Bathe Bed_Toilet_Transition Cook Eat Enter_Home Enter_Home_Home Leave_Home Leave_Home_Home Personal_Hygiene Relax Sleep Take_Medicine Wash_Dishes Work 
data data
mode TRAIN
model model
%clusterother
